.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .form {
    width: 480px;
  }

  .badCredentialsWarning {
    color: var(--mantine-color-red-7);
    margin-top: 20px;
  }
}